/*====== Root ======*/

:root {
     --md-white: #ffffff;
     --md-active: #ff6347;
}

/*====== Default ======*/

/* Disable Scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Montserrat', sans-serif;
}

main {
     width: 100%;
     overflow: hidden;
}

span {
     font-weight: bold;
}

cite {
     font-size: 1.25rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/* Clip */

.clip {
     animation: loading 5s linear infinite;
}

@keyframes loading {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

/* Style */

.section {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     background-size: cover;
     background-repeat: no-repeat;
}

.d-p {
     color: var(--md-white);
     font-size: 1.312rem;
     font-weight: 400;
}

.d-p p a {
     text-decoration: none;
     color: white;
}

.d-1,
.d-2 {
     width: 100%;
}

.t-a-l {
     text-align: left;
}

.t-a-r {
     text-align: right;
}

/*====== container ======*/

.container-small,
.container {
     width: calc(100% - 5.12rem);
     margin-left: 2.57rem;
     margin-right: 2.57rem;
     /*      border: solid red 1px; */
}

.container-small {
     height: 15%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.container {
     height: 70%;
}

/*====== Section 01  #2f3142 ======*/

#section-01 {
     background-image: url(../img/01-Photo-Jonathan-Pease-Unsplash.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

#section-01 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#section-01 .container header h1 {
     font-size: 9.5rem;
     color: var(--md-white);
     font-weight: 700;
}

/*====== Section-02 ======*/

#section-02 {
     background-image: url(../img/02-Photo-Jonas-Elia-Unsplash.jpg);
}

#section-02 .container h1 {
     font-size: 2.25rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-03 ======*/

#section-03 {
     background-image: url(../img/03-Photo-Luca-Bravo-Unsplash.jpg);
     background-position: bottom right;
}

#section-03 .container {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}

#section-03 .container h1 {
     font-size: 2.25rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-04 ======*/

#section-04 {
     background-image: url(../img/04-Photo-Nana-Nakazwe-Unsplash.jpg);
     background-position: bottom;
}

#section-04 .container {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}

#section-04 .container h1 {
     font-size: 2.25rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-05 #272532 ======*/


#section-05 {
     background-image: url(../img/05-Photo-Laurenz-Heymann-Unsplash.jpg);
}

#section-05 .container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#section-05 .container h1,
#section-05 .container .d-1 {
     font-size: 2.25rem;
     font-weight: 500;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-06 ======*/

#section-06 {
     background-image: url(../img/06-Photo-Jorik-Kleen-Unsplash.jpg);
     background-position: center;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}

/*====== Section-07 ======*/

#section-07 {
     background-image: url(../img/Photo-07-Jermaine-Ee.png);
}

#section-07 .container {
     text-align: right;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#section-07 .container h1 {
     font-size: 2.5rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-08 ======*/


#section-08 {
     background-image: url(../img/Photo-08-Josh-Connor-Unsplash.jpg);
}

#section-08 .container {
     text-align: left;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#section-08 .container h1 {
     font-size: 2rem;
     font-weight: 500;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-09 ======*/

#section-09 {
     background-image: url(../img/Photo-09-Miltiadis-Fragkidis-Unsplash.jpg);
     background-position: bottom right;
}

#section-09 .container {
     text-align: right;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}

#section-09 .container h1 {
     font-size: 2.25rem;
     font-weight: 400;
     margin: 1rem 0;
     color: var(--md-white);
}

/*====== Section-10 ======*/


#section-10 {
     background-image: url(../img/Photo-10-Luca-Bravo.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

#section-10 .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#section-10 .container .send {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

#section-10 .container .send i {
     margin: 0 1rem;
     font-size: 10rem;
     color: var(--md-white);
     transition: all 1s;
     cursor: pointer;
}

#section-10 .container .send i:hover,
#section-10 .container .send i:focus {
     color: var(--md-active);
     transform: rotatey(180deg);
}


/* Media - Responsive */

@media screen and (max-width: 500px) {

     #section-01 .container header h1 {
          font-size: 7rem;
     }

     .d-p {
          font-size: 1rem;
     }

     #section-02 .container h1,
     #section-03 .container h1,
     #section-04 .container h1,
     #section-05 .container h1,
     #section-06 .container h1,
     #section-07 .container h1,
     #section-08 .container h1,
     #section-09 .container h1,
     #section-10 .container h1 {
          font-size: 1.5rem;
     }

     /* Section-04 */

     #section-04 {
          background-position: center;
     }

     /* Section-05 */

     #section-05 {
          background-position: right;
     }

     /* Section-07 */

     #section-07 {
          background-position: center;
     }

     #section-07 .container .d-1 cite {
          font-size: 1rem;
     }

     /* Section-08 */

     #section-08 {
          background-position: center;
     }

     /* Section-09 */

     #section-09 {
          background-position: left;
     }

     /* Section 10 */

     #section-10 .container .send i {
          font-size: 5rem;
     }

}
